#control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
#format-actions {
    width: 215px;
    margin-right: 385px;
}

#format-actions .active {
  color: red;
}
